<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Shopping List App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        <h1>Item Management Application</h1>
        <input type="text" ng-model="newItem" placeholder="Enter New Item">
        <button ng-click="addItem()">Add Item</button>
        <hr />
        <table border="5">
            <tr>
                <th>SLNO</th>
                <th>Item</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="item in items">
                <td>{{$index+1}}</td>
                <td>{{item}}</td>
                <td>
                    <button ng-click="removeItem($index)">Remove Item</button>
                </td>
            </tr>
        </table>
        <br />
        Total Number of Items=<b>{{items.length}}</b>
        <script>
            var app = angular.module("myApp", []);
            app.controller("myCtrl", function($scope) {
                $scope.items = ["Milk", "Bread", "Egg"];
                $scope.addItem = function() {
                    if ($scope.newItem) {
                        if ($scope.items.indexOf($scope.newItem) == -1) {
                            $scope.items.push($scope.newItem);
                            $scope.newItem = "";
                        } else {
                            alert('This item is already there in the item collection');
                        }
                    } else {
                        alert('Please Enter the item to add');
                    }
                };
                $scope.removeItem = function(index) {
                    $scope.items.splice(index, 1);
                };
            });
        </script>
    </body>
</html>
